h1{
  text-align: center; color: black
}

.logo{
  width: 40%
}
h2{
  text-align: center;color: black
}
h3{
  text-align: center;color: black
}
body{
background-color:#daf3ea

}
p{text-align: center;}
img{
width: 40%;
margin-left: 30%;
