h1{
  text-align: center; color: black
}

.logo{
  width: 50%
}
h2{
  text-align: center;color: black
}
h3{
  text-align: center;color: black

}
body{
background-color:#daf3ea

}
p{text-align: center;}
img{
width: 20%;
margin-left: 60%;

}

#barbearia{

}
.menu{
  position: relative;
  bottom: 500px;
  left: 380px;
}
